/* Общие стили */
body {
    font-family: Arial, sans-serif; /* Используем простой шрифт для текста */
    margin: 0; /* Убираем отступы по умолчанию */
    padding: 0; /* Убираем паддинги по умолчанию */
    background: linear-gradient(135deg, #ff0000, #121212, #8b0000); /* Устанавливаем градиентный фон от красного через черный к темно-красному */
    color: #fff; /* Белый цвет текста */
    height: 100%; /* Устанавливаем высоту на весь экран */
    display: flex; /* Используем Flexbox для выравнивания элементов */
    flex-direction: column; /* Располагаем элементы по вертикали */
}

/* Ссылки */
a {
    color: #ff0000; /* Устанавливаем красный цвет для текста ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

a:hover {
    text-decoration: underline; /* Подчеркиваем ссылку при наведении */
}

/* Шапка сайта */
header {
    display: flex; /* Используем Flexbox для выравнивания элементов в шапке */
    justify-content: space-between; /* Размещаем элементы с отступами по краям */
    padding: 10px 20px; /* Добавляем внутренние отступы для шапки */
    background-color: rgba(26, 26, 26, 0.8); /* Полупрозрачный темный фон */
    position: sticky; /* Фиксируем шапку при прокрутке */
    top: 0; /* Шапка будет на верхней границе экрана */
    z-index: 1000; /* Устанавливаем высокий уровень слоя, чтобы шапка была поверх других элементов */
}

/* Логотип */
.logo-image {
    width: 50px; /* Устанавливаем фиксированную ширину логотипа */
    height: auto; /* Автоматически подстраиваем высоту, сохраняя пропорции */
}

/* Меню навигации */
nav ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем паддинги списка */
    display: flex; /* Используем Flexbox для горизонтального расположения элементов */
}

nav ul li {
    margin: 0 10px; /* Добавляем отступы между элементами списка */
}

nav ul li a {
    font-size: 18px; /* Устанавливаем размер шрифта для текста ссылок в меню */
}

/* Главная секция */
.main-section {
    text-align: center; /* Выравниваем текст по центру */
    padding: 0px; /* Добавляем отступы для секции */
}

.main-image {
    width: 100%; /* Ширина изображения на всю ширину родительского элемента */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}

/* Секция с кнопками */
.button-grid {
    padding: 30px; /* Добавляем отступы для секции с кнопками */
    text-align: center; /* Выравниваем кнопки по центру */
}

.button-container {
    display: grid; /* Используем CSS Grid для расположения кнопок */
    grid-template-columns: repeat(2, 1fr); /* 3 колонки одинаковой ширины */
    gap: 10px; /* Добавляем промежутки между кнопками */
    
}

.button-item {
    background-color: #1a1a1a; /* Темный фон для кнопки */
    color: white; /* Белый текст */
    border: 2px solid #ff0000; /* Красная обводка */
    padding: 15px 20px; /* Добавляем внутренние отступы */
    font-size: 16px; /* Устанавливаем размер шрифта */
    cursor: pointer; /* Курсор при наведении */
    border-radius: 5px; /* Сглаживаем углы кнопки */
    transition: background-color 0.3s, transform 0.3s; /* Анимация при наведении */
}

.button-item:hover {
    background-color: #ff0000; /* Красный фон при наведении */
    transform: scale(1.05); /* Увеличиваем размер кнопки при наведении */
}

.button-item:active {
    background-color: #8b0000; /* Темный красный фон при активном нажатии */
}

.catalog h2 .icon {
    width: 20px; /* Установите нужный размер картинки */
    height: 20px; /* Установите нужный размер картинки */
    margin-left: 10px; /* Отступ от текста до картинки */
}

/* Секция каталога товаров */
.catalog {
    padding: 20px; /* Добавляем отступы вокруг каталога */
}

.catalog h2 {
    font-size: 24px; /* Устанавливаем размер шрифта для заголовка */
    text-align: center; /* Выравниваем заголовок по центру */
    margin-bottom: 20px; /* Добавляем отступ снизу */
}

.product-grid {
    display: grid; /* Используем CSS Grid для расположения товаров */
    grid-template-columns: 1fr 1fr; /* Создаем 2 колонки одинаковой ширины */
    gap: 10px; /* Добавляем промежутки между элементами */
}

/* Карточка товара */
.product-card {
    background-color: #1a1a1a; /* Устанавливаем темный фон для карточки */
    border: 2px solid #ff0000; /* Устанавливаем красную рамку для карточки */
    padding: 15px; /* Добавляем отступы внутри карточки */
    text-align: center; /* Выравниваем текст внутри карточки по центру */
    transition: transform 0.3s ease; /* Добавляем анимацию для трансформации */
    border-radius: 10px;
}

.product-card:hover {
    transform: scale(1.05); /* Увеличиваем размер карточки при наведении */
}

.product-image {
    width: 100%; /* Ширина изображения на всю ширину карточки */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    margin-bottom: 10px; /* Добавляем отступ снизу от изображения */
}

.product-name {
    font-size: 18px; /* Устанавливаем размер шрифта для названия товара */
    color: white; /* Белый цвет текста */
    margin-bottom: 10px; /* Отступ снизу */
}

.product-description {
    font-size: 14px; /* Устанавливаем размер шрифта для описания товара */
    color: white; /* Белый цвет текста */
    margin-bottom: 10px; /* Отступ снизу */
}

.product-price {
    font-size: 18px; /* Устанавливаем размер шрифта для цены */
    color: #ff0000; /* Красный цвет для цены */
}

/* Подвал */
footer {
    background-color: rgba(26, 26, 26, 0.8); /* Полупрозрачный темный фон для подвала */
    padding: 20px; /* Добавляем отступы для подвала */
    text-align: center; /* Выравниваем текст по центру */
}

footer .footer-content {
    margin-bottom: 10px; /* Отступ снизу для контента в подвале */
}

footer .social-media a {
    margin: 0 10px; /* Добавляем отступы между ссылками социальных сетей */
}
